header .nav {
  height: 1rem;
}

header .nav span {
  font-size: 0.5rem;
  line-height: 1rem;
}

header .bot {
  width: 100%;
  position: relative;
}

header .bot img {
  float: left;
  width: 1.58rem;
  height: 1.52rem;
  border: 1px solid #60a9e0;
  border-radius: 0.1rem;
}

header .bot .bot-r {
  margin-left: 0.2rem;
  float: left;
}

header .bot .bot-r h2 {
  font-size: .4rem;
  font-weight: normal;
  margin: 0 0 0.2rem 0.1rem;
}

header .bot .bot-r h3 {
  background: #2a8ad6;
  border: 1px solid #449ce3;
  box-sizing: border-box;
  border-radius: 0.3rem /50%;
  text-align: center;
  line-height: 0.62rem;
  height: 0.62rem;
  width: 2.82rem;
}

header .bot i {
  content: "";
  position: absolute;
  display: inline-block;
  width: 0.3rem;
  height: 0.3rem;
  background: transparent;
  border: 0.03rem solid #fff;
  right: 0;
  top: 50%;
  margin-top: -0.15rem;
  transform: rotate(45deg);
  border-bottom: transparent;
  border-left: transparent;
}

main ul {
  margin: 0.12rem 0;
}

main ul li {
  background: #fff;
}

main ul li a {
  display: flex;
  justify-self: left;
  height: 1.3rem;
  border-bottom: 1px solid #f5f5f5;
  line-height: 1.3rem;
  padding: 0 0.5rem;
  box-sizing: border-box;
  color: #999999;
  position: relative;
}

main ul li a::after {
  content: "";
  width: 0.3rem;
  height: 0.3rem;
  border: 1px solid #999;
  position: absolute;
  right: 0.5rem;
  top: 50%;
  margin-top: -0.15rem;
  transform: rotate(45deg);
  border-left: 0;
  border-bottom: 0;
}

main ul li a i {
  font-size: 0.7rem;
  color: #118eea;
  vertical-align: middle;
}

main ul li a span {
  color: #333333;
  font-size: 0.42rem;
  vertical-align: middle;
  margin-left: 0.1rem;
}

main ul li a s {
  font-size: 0.38rem;
  position: absolute;
  right: 0.8rem;
}
