html {
  width: 100%;
  height: 100%;
  font-size: 100px;
}

html body {
  width: 100%;
  height: 100%;
  font-size: 0.12rem;
  display: flex;
  flex-direction: column;
  background: #f5f5f5;
}

html body header {
  height: 3.67rem;
  background: #1b82d1;
  box-sizing: border-box;
  color: #fff;
  padding: 0.5rem;
}

html body main {
  height: 100%;
  width: 100%;
  flex: 1;
  overflow: auto;
  box-sizing: border-box;
}

html body footer {
  height: 1.65rem;
  border-top: 1px solid #ccc;
  box-sizing: border-box;
}

html body footer ul {
  display: flex;
  justify-content: center;
}

html body footer ul li {
  flex: 1;
}

html body footer ul li a {
  padding: 0.1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #bababa;
  font-size: 0.9rem;
}

html body footer ul li a i {
  font-size: 0.6rem;
  color: #bababa;
}

html body footer ul li a span {
  font-size: 0.32rem;
}

html body footer ul .active a {
  color: #29a1f7;
}

html body footer ul .active a i {
  color: #29a1f7;
}
