header {
    height: 3.66rem;
    padding: 0 0.5rem;
    box-sizing: border-box;
    .nav {
        height: 1.58rem;
        font-size: 0.5rem;
        line-height: 1.58rem;
        i {
            font-size: 0.66rem;
            color: #fff;
            margin: 0 0.05rem;
        }
    }
    .bot {
        height: 1.6rem;
        box-sizing: border-box;
        position: relative;
        &::after {
            content: "";
            display: inline-block;
            position: absolute;
            width: 0.2rem;
            height: 0.2rem;
            border: 0.02rem solid #fff;
            transform: rotate(45deg);
            left: 50%;
            margin-left: -0.1rem;
            bottom: 0.2rem;
            border-top: 0;
            border-left: 0;
        }
        span {
            color: #8dc1e9;
            font-size: 0.4rem;
        }
        i {
            display: inline-block;
            height: 0.4rem;
            width: 0.6rem;
            margin: 0 0.06rem;
            background: url(../img/财富/01.jpg) left 0.04rem/100% 100% no-repeat;
        }
        s {
            display: inline-block;
            height: 0.4rem;
            width: 1.6rem;
            text-align: center;
            background: #157ac9 url(../img/财富/财富_05.jpg) 0.1rem center/0.4rem no-repeat;
            padding: 0.04rem;
            border-radius: 0.2rem/50%;
            text-indent: 0.2rem;
            color: #72b0e3;
        }
        a {
            font-size: 0.6rem;
        }
        .right {
            position: relative;
            &::after {
                content: "";
                display: inline-block;
                position: absolute;
                width: 0;
                height: 0;
                border: 0.2rem solid transparent;
                border-left: 0.2rem solid #fff;
                right: -0.4rem;
                top: 50%;
                margin-top: -0.1rem;
            }
        }
    }
}

main {
    box-sizing: border-box;
    .list-item1 {
        ul {
            height: 2.18rem;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-self: center;
            li {
                flex: 1;
                a {
                    padding: .46rem 0;
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-self: center;
                    text-align: center;
                    i {
                        color: #118ee8;
                        font-size: 0.8rem;
                        position: relative;
                        s {
                            display: inline-block;
                            position: absolute;
                            width: 1.16rem;
                            height: 0.45rem;
                            background: #ff3b2f;
                            color: #fff;
                            right: -30%;
                            top: -30%;
                            font-size: 0.28rem;
                            text-align: center;
                            padding: 0.06rem 0 0 0;
                            border-radius: 0.2rem/50%;
                        }
                    }
                    font-size: 0.34rem;
                    color:#333;
                }
            }
        }
    }
    .list-item2 {
        padding: 0 0.5rem;
        height: 1.9rem;
        img {
            width: 100%;
            // height: 100%;
        }
    }
    .list-item3 {
        padding: 0 0.5rem;
        margin: 0.2rem 0;
        .right {
            color: #999999;
        }
        img {
            width: 100%;
            margin: 0.2rem 0;
            // height: 5.rem;
        }
    }
    .list-item4 {
        ul {
            display: flex;
            justify-content: center;
            li {
                margin: 0.4rem 0;
                padding-top: 0.7rem;
                height: 3.2rem;
                box-sizing: border-box;
                flex: 1;
                border-right: 1px solid #ccc;
                text-align: center;
                line-height: 0.6rem;
                h2 {
                    color: #333;
                }
                h3 {
                    color: red;
                }
                span {
                    color: #666;
                }
                s {
                    display: inline-block;
                    width: 1.8rem;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }
    .list-item5 {
        .bot {
            // width: 9.8rem;
            margin-top: 0.2rem;
            height: 5.76rem;
            box-shadow: 0 0 10px #ccc;
            background: #fff;
            border-radius: 0.1rem;
            .item {
                display: flex;
                height: 2.9rem;
                text-align: center;
                position: relative;
                &::before {
                    content: '精选好基金';
                    position: absolute;
                    display: inline-block;
                    width: 3rem;
                    height: 0.55rem;
                    color: #fff;
                    line-height: 0.55rem;
                    font-size: 0.32rem;
                    background-image: linear-gradient(to left, #f27012 30%, #f37923 40%, #f27012 30%);
                }
                div {
                    margin-top: 1.12rem;
                    flex: 1;
                }
                h3 {
                    color: red;
                    font-size: 0.5rem;
                }
                h4 {
                    color: #333;
                    font-size: 0.4rem;
                }
                span {
                    color: #ccc;
                    font-size: 0.3rem;
                }
                .bot-left {
                    height: 1rem;
                    border-right: 0.01rem solid #ccc;
                }
            }
        }
    }
    .list-item6 {
        h3 {
            margin: 0.2rem;
        }
        .con {
            display: flex;
            background: #fff;
            border-bottom: 0.01rem solid #ccc;
            .left {
                width: 60%;
                padding: 0.2rem;
                box-sizing: border-box;
            }
            .right {
                width: 40%;
                img {
                    width: 100%;
                }
            }
        }
    }
    .list-item7 {
        text-align: center;
        color: #ccc;
        font-size: 0.2rem;
        margin: 0.2rem;
        s {
            font-size: 0.5rem;
        }
    }
}